<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>LED Control</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="static/img/Apple Home Screen Icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="static/css/normalize.min.css">
  <link rel="stylesheet" href="static/css/fonts.css">
  <link rel="stylesheet/less" type="text/css" href="static/css/style.less">
  <script src="static/js/less-3.7.1.min.js"></script>
</head>
<body class="body-dark">
  <div class="wrapper clearfix">
    <main>
      <table class="input-table">
        {% for input in form %}
        <tr class="{{ input.e_class }}">
          <td>
            <label>{{ input.label }}:</label>
          </td>
          {% if input.control == 'select' %}
            <td>
              <span class="select-container button">
                <select class="update-on-change {{ input.e_class }}" style="width:98%" autocomplete="off" data-id="{{ input.key }}">
                  {% for opt in input.options %}
                  <option value="{{ loop.index0 }}" {% if loop.index0 == input.val %}selected{% endif %}>
                    {{ opt }}
                  </option>
                  {% endfor %}
                </select>
              </span>
            </td>
          {% elif input.control == 'range' %}
            <td>
              <span class="slider-container">
                <input type="range" style="width:300px" min="{{ input.min }}" max="{{ input.max }}" step="{{ input.step }}" value="{{ input.val }}" class="update-on-change {{ input.e_class }}" autocomplete="off" data-id="{{ input.key }}">
              </span>
            </td>
            <td>
              <input type="number" style="width:70px" min="{{ input.min }}" max="{{ input.max }}" step="{{ input.step }}" value="{{ input.val }}" class="update-on-change {{ input.e_class }}" autocomplete="off" data-id="{{ input.key }}">
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <hr>
      {% for color in colors %}
      <h4>Color {{ loop.index }}</h4>
      <table class="input-table">
        <tr>
          <td>
            <label>Hue:</label>
          </td>
          <td>
            <span class="slider-container">
              <input type="range" style="width:300px" min="0" max="1" step="0.001" value="{{ color[0] }}" class="update-color-on-change hue-grad" autocomplete="off" data-idx="{{ loop.index0 }}" data-cmp="{{ 0 }}">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label>Saturation:</label>
          </td>
          <td>
            <span class="slider-container">
              <input type="range" style="width:300px" min="0" max="1" step="0.001" value="{{ color[1] }}" class="update-color-on-change sat-grad" autocomplete="off" data-idx="{{ loop.index0 }}" data-cmp="{{ 1 }}">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <label>Value:</label>
          </td>
          <td>
            <span class="slider-container">
              <input type="range" style="width:300px" min="0" max="1" step="0.001" value="{{ color[2] }}" class="update-color-on-change val-grad" autocomplete="off" data-idx="{{ loop.index0 }}" data-cmp="{{ 2 }}">
            </span>
          </td>
        </tr>
      </table>
      {% endfor %}
    </main>
    <footer>
      <small><a href="https://github.com/jackw01/ledcontrol">LEDControl Server</a> by <a href="https://github.com/jackw01">@jackw01</a>. Released under the MIT License.</small>
    </footer>
  </div>
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/main.js"></script>
</body>
</html>
