<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>LED Control</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="manifest" href="static/manifest.webmanifest">
  <link rel="icon" href="static/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="static/favicon.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="static/mobile-icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#16181a">
  <meta name="theme-color" content="#16181a">
  <link rel="stylesheet" href="static/css/normalize.min.css">
  <link rel="stylesheet" href="static/css/fonts.css">
  <link rel="stylesheet" href="static/css/codemirror.css">
  <link rel="stylesheet" href="static/css/codemirror-custom.css">
  <link rel="stylesheet" href="static/css/picker-1.4.1-classic.min.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body class="body-dark">
  <div class="wrapper clearfix">
    <main id="main">
      <h2 class="header-stylized-text">LEDControl v1.3.0</h2>
      <br/>
      {% for input in form if not input.hide %}
      {% if input.control == 'select' %}
      <div class="input-row input-row-top-margin input-toplevel" data-id="{{ input.key }}">
        <span class="label select-label">{{ input.label }}:</span>
        <span class="select-container">
          <select
            class="update-on-change {{ input.e_class }}"
            autocomplete="off"
            data-id="{{ input.key }}"
          >
            {% for opt in input.options %}
            <option
              value="{{ loop.index0 }}"
              {% if input.val == loop.index0 %}selected{% endif %}>
              {{ opt }}
            </option>
            {% endfor %}
          </select>
        </span>
      </div>
      {% elif input.control == 'range' %}
      <div class="input-toplevel" data-id="{{ input.key }}">
        <span class="label">{{ input.label }}:
          {% if input.unit != "" %}<span class="number-units">({{ input.unit }})</span>{% endif %}
        </span>
        <div class="input-row">
          <div class="input-slider-container">
            <input
              type="range"
              min="{{ input.min }}"
              max="{{ input.max }}"
              step="{{ input.step }}"
              value="{{ input.val }}"
              class="update-on-change {{ input.e_class }}"
              autocomplete="off"
              data-id="{{ input.key }}"
            >
          </div>
          <div class="input-number-container">
            <input
              type="number"
              style="width:80px"
              min="{{ input.min }}"
              max="{{ input.max }}"
              step="{{ input.step }}"
              value="{{ input.val }}"
              class="update-on-change {{ input.e_class }}"
              autocomplete="off"
              data-id="{{ input.key }}"
            >
          </div>
        </div>
      </div>
      {% elif input.control == 'text' %}
      <div class="input-row input-toplevel" data-id="{{ input.key }}">
        <div class="input-slider-container">
          <span class="label">{{ input.label }}: </span>
          <input
            type="text"
            value="{{ input.val }}"
            class="update-on-change {{ input.e_class }}"
            data-id="{{ input.key }}"
          >
        </div>
      </div>
      {% elif input.control == 'code' %}
      <div id="code">
        <div class="input-row input-row-top-margin">
          <a class="button" id="new-pattern">New Pattern</a>
          <a class="button" id="delete-pattern">Delete</a>
          <input type="text" id="pattern-name">
        </div>
        <div class="input-row input-row-top-margin input-row-bottom-margin">
          <span class="infotext" id="source-status">{{ input.label }}</span>
          <a class="button" id="compile">Compile Pattern</a>
        </div>
      </div>
      {% elif input.control == 'colors' %}
      <canvas id="palette-color-bar" style="display: block; border-radius: 3px; width: 100%; height: 0.7rem; margin-bottom: 0.5rem;"></canvas>
      <div id="colors">
        <div class="input-row input-row-bottom-margin">
          <a class="button" id="new-palette">New Palette</a>
          <a class="button" id="delete-palette">Delete</a>
          <input type="text" id="palette-name">
        </div>
        <div id="color-picker-container">
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </main>
    <footer>
      <small>
        <a href="https://jackw01.github.io/led-control/">LEDControl Server</a> by <a href="https://github.com/jackw01">jackw01</a>. Released under the MIT License.
      </small>
    </footer>
  </div>
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/codemirror-5.48.4.js"></script>
  <script src="static/js/codemirror-5.48.4-python.js"></script>
  <script src="static/js/pickr-1.4.1.min.js"></script>
  <script src="static/js/main.js"></script>
</body>
</html>
