ledcontrol/driver/ledcontrol_rpi_ws281x_driver_wrap.c linguist-generated=true
ledcontrol/driver/ledcontrol_rpi_ws281x_driver.py linguist-generated=true
ledcontrol/static/css/index.css linguist-generated=true
ledcontrol/static/css/fonts.css linguist-generated=true
ledcontrol/static/css/codemirror.css linguist-vendored=true
ledcontrol/static/css/normalize.min.css linguist-vendored=true
ledcontrol/static/css/picker-1.4.1-classic.min.css linguist-vendored=true
ledcontrol/static/js/jquery-3.3.1.min.js linguist-vendored=true
ledcontrol/static/js/codemirror-5.48.4.js linguist-vendored=true
ledcontrol/static/js/codemirror-5.48.4-python.js linguist-vendored=true
ledcontrol/static/js/pickr-1.4.1.min linguist-vendored=true
*.h linguist-language=C
*.i linguist-language=C
