body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
  letter-spacing: 0.25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow", sans-serif;
}

code, pre {
  font-family: "Fira Code", monospace;
}

.header-light {
  font-weight: 300;
}

.header-stylized-text {
  display: inline-block;
  background-image: linear-gradient(90deg, #00a3d2 0%, #00ab9a 100%);
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background: #343639;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b4d4f;
}

* {
  box-sizing: border-box;
}

.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  padding: 0;
  margin: 0;
}

main {
  flex: 1;
}
main *:first-child {
  margin-top: 0;
}

footer {
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4b4d4f;
  margin: 1em 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.2em;
}

h1 {
  font-size: 48px;
  font-weight: 200;
}

h2 {
  font-size: 34px;
  font-weight: 300;
}

h3 {
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

h6 {
  font-size: 18px;
  font-weight: 500;
}

strong {
  font-weight: 700;
}

small {
  font-size: 0.9rem;
}

::-moz-selection {
  background-color: fade(#06a2ab, 30%);
}

::selection {
  background-color: fade(#06a2ab, 30%);
}

a {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  cursor: pointer;
  color: #06a2ab;
  text-decoration: none;
}
a:hover, a:active {
  color: #07c3cd;
  text-decoration: underline;
}

textarea {
  resize: vertical;
}

.wrapper {
  width: 42rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-dark {
  background: #18191c;
  color: #e6e8ec;
}

label {
  display: block;
}

.number-units {
  margin-left: 0.35rem;
  color: #626467;
}

.input-row {
  display: flex;
  align-items: flex-start;
  padding-bottom: 0.25rem;
}
.input-row .input-slider-container {
  padding-top: 0.3rem;
  padding-right: 1rem;
  flex-basis: 100%;
}
.input-row .input-number-container {
  white-space: nowrap;
  flex-basis: content;
}

.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  margin: 5px 0;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  background: #343639;
  color: #c4c9d6;
}
.button:hover {
  background: #07c3cd;
  color: #c4c9d6;
}

.button-rect {
  padding: 7px 12px;
  border-radius: 5px;
}

textarea, input[type=text], input[type=password], input[type=number] {
  margin: 5px 0;
  padding: 8px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 0.9em;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  background: #18191c;
  color: #e6e8ec;
  border: 1px solid #04737a;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
  border: 1px solid #07c3cd;
}

.text-input-error {
  border: 1px solid #f06c6f !important;
}

input[type=range] {
  -webkit-appearance: none !important;
  display: inline-block;
  outline: none;
  width: 100%;
  height: 1px;
  margin: 0;
  background: #343639;
  border-radius: 3px;
  box-shadow: inset 10px 0 #18191c, inset -10px 0 #18191c;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-moz-range-track {
  background: transparent;
  -moz-appearance: none !important;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: transparent;
  box-shadow: 0;
  border: 1px solid #06a2ab;
  outline: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
input[type=range]::-webkit-slider-thumb:hover {
  border: 1px solid #07c3cd;
}
input[type=range]::-moz-range-thumb {
  -moz-appearance: none !important;
  background: transparent;
  box-shadow: 0;
  border: 1px solid #06a2ab;
  outline: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
input[type=range]::-moz-range-thumb:hover {
  border: 1px solid #07c3cd;
}

/*# sourceMappingURL=index.css.map */
