body {
  font-family: "Barlow", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
  letter-spacing: 0.25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow", sans-serif;
  color: #caccd0; }

.header-light {
  font-weight: 300; }

.header-stylized-text {
  display: inline-block;
  background-image: linear-gradient(90deg, #00a3d2 0%, #00ab9a 100%);
  color: transparent !important;
  -webkit-background-clip: text;
  background-clip: text; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 16px; }

::-webkit-scrollbar-thumb {
  background: #343639;
  border-radius: 16px; }

::-webkit-scrollbar-thumb:hover {
  background: #4b4d50; }

* {
  box-sizing: border-box; }

.clearfix {
  display: block;
  zoom: 1; }
  .clearfix:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden; }

body {
  padding: 0;
  margin: 0;
  overflow-y: scroll; }

main {
  flex: 1; }
  main > *:first-child {
    margin-top: 0; }

footer {
  margin-top: 1rem; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4b4d50;
  margin: 1em 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.2em; }

h1 {
  font-size: 48px;
  font-weight: 200; }

h2 {
  font-size: 34px;
  font-weight: 300; }

h3 {
  font-size: 28px;
  font-weight: 400; }

h4 {
  font-size: 24px;
  font-weight: 400; }

h5 {
  font-size: 20px;
  font-weight: 600; }

h6 {
  font-size: 18px;
  font-weight: 600; }

strong {
  font-weight: 600; }

small {
  font-size: 0.9rem; }

::-moz-selection {
  background-color: fade(#06a2ab, 30%); }

::selection {
  background-color: fade(#06a2ab, 30%); }

a {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  cursor: pointer;
  color: #06a2ab;
  text-decoration: none; }
  a:hover, a:active {
    color: #07c3cd;
    text-decoration: underline; }

textarea {
  resize: vertical; }

.wrapper {
  width: 40rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.body-dark {
  background: #161616;
  color: #afb1b5; }

.label {
  display: inline-block; }

.dim {
  margin-left: 0.35rem;
  color: #626467; }

.input-row {
  display: flex;
  align-items: flex-start; }
  .input-row .input-slider-container {
    padding-top: 0.35rem;
    padding-right: 1rem;
    flex-basis: 100%; }
  .input-row .input-number-container, .input-row .label {
    white-space: nowrap;
    flex-basis: content; }
  .input-row .select-container {
    flex-basis: 100%; }
  .input-row .infotext {
    flex-basis: 100%; }
  .input-row .button {
    white-space: nowrap;
    flex-basis: content; }
  .input-row input[type='text'], .input-row input[type="number"].input-inline {
    flex-basis: 100%;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
    padding: 4px 6px 5px; }
  .input-row > *:not(:last-child) {
    margin-right: 0.5rem; }

.input-row-top-margin {
  margin-top: 0.5rem; }

.input-row-bottom-margin {
  margin-bottom: 0.5rem; }

.infotext {
  border-radius: 3px;
  padding: 3px 6px 6px;
  display: inline-block;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }
  .infotext.button-inline {
    padding: 0px 6px 3px; }
  .infotext.status-none {
    color: #95979a;
    background: rgba(149, 151, 154, 0.05);
    border: 1px solid rgba(149, 151, 154, 0.25); }
  .infotext.status-success {
    color: #00ab9a;
    background: rgba(0, 171, 154, 0.05);
    border: 1px solid rgba(0, 171, 154, 0.25); }
  .infotext.status-warning {
    color: #d08447;
    background: rgba(208, 132, 71, 0.05);
    border: 1px solid rgba(208, 132, 71, 0.25); }
  .infotext.status-error {
    color: #f06c6f;
    background: rgba(240, 108, 111, 0.05);
    border: 1px solid rgba(240, 108, 111, 0.25); }

.button {
  color: #afb1b5;
  border-radius: 3px;
  background: rgba(6, 162, 171, 0.05);
  border: 1px solid #04737a;
  padding: 3px 6px 6px;
  display: inline-block;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }
  .button:hover, .button.active {
    background: rgba(6, 162, 171, 0.15);
    border: 1px solid #07c3cd; }
  .button.button-inline {
    padding: 0px 6px 3px; }

textarea, input[type="text"], input[type="password"], input[type="number"] {
  margin: 5px 0;
  padding: 8px;
  font-size: 0.9em;
  width: 100px;
  border-radius: 3px;
  outline: none;
  background: transparent;
  color: #caccd0;
  border: 1px solid #04737a;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }
  textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus {
    border: 1px solid #07c3cd; }

.text-input-error {
  border: 1px solid #f06c6f !important; }

input[type="range"] {
  -webkit-appearance: none !important;
  display: inline-block;
  outline: none;
  width: 100%;
  height: 1px;
  margin: 0;
  background: #343639;
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }
  input[type="range"]:focus {
    outline: none; }
  input[type="range"]::-moz-range-track {
    background: transparent;
    -moz-appearance: none !important; }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: transparent;
    box-shadow: 0;
    border: 1px solid #06a2ab;
    outline: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }
    input[type="range"]::-webkit-slider-thumb:hover {
      border: 1px solid #07c3cd; }
  input[type="range"]::-moz-range-thumb {
    -moz-appearance: none !important;
    background: transparent;
    box-shadow: 0;
    border: 1px solid #06a2ab;
    outline: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }
    input[type="range"]::-moz-range-thumb:hover {
      border: 1px solid #07c3cd; }

.select-label {
  line-height: 32px; }

.select-container {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 34px;
  margin-top: 0px;
  padding-left: 0px;
  border-radius: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-bottom: 0.5rem;
  text-decoration: none;
  background: transparent;
  color: #afb1b5;
  border: 1px solid #04737a;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }
  .select-container:hover {
    color: #afb1b5;
    border: 1px solid #07c3cd; }
  .select-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    display: inline-block;
    width: 98%;
    height: 30px;
    margin-top: 0px;
    padding-left: 6px;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 400;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }
  .select-container:after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: block;
    float: right;
    width: 30px;
    height: 32px;
    line-height: 32px;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    content: 'arrow_drop_down';
    pointer-events: none;
    color: 1px solid #04737a; }

option {
  font-family: "Barlow", sans-serif;
  color: #afb1b5;
  background: #343639;
  border: none; }
  option:hover, option:active {
    background: #058189; }

#code {
  margin-bottom: 0.5rem; }

#main .pcr-button {
  display: none; }
#main .pcr-app {
  background: #161616;
  box-shadow: none;
  font-family: inherit;
  width: auto !important; }
  #main .pcr-app .pcr-picker {
    border: 1px solid #e6e8ec; }
  #main .pcr-app .pcr-swatches {
    margin: 0; }
  #main .pcr-app .pcr-result {
    border-radius: 3px;
    outline: none;
    background: transparent;
    color: #caccd0;
    border: 1px solid #04737a;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }
    #main .pcr-app .pcr-result:focus {
      border: 1px solid #07c3cd; }
  #main .pcr-app .pcr-type {
    color: #afb1b5;
    border-radius: 3px;
    background: rgba(6, 162, 171, 0.05);
    border: 1px solid #04737a;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important; }
    #main .pcr-app .pcr-type:hover, #main .pcr-app .pcr-type.active {
      background: rgba(6, 162, 171, 0.15);
      border: 1px solid #07c3cd; }
  #main .pcr-app input:focus {
    box-shadow: none; }

.router-link-active {
  color: #caccd0;
  font-weight: 600; }

.palette-list {
  width: 100%;
  margin-bottom: 0.7rem; }
  .palette-list tr {
    height: 2.0rem; }
    .palette-list tr td:first-child {
      width: 7rem;
      max-width: 7rem;
      font-size: 0.95rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .palette-list tr:hover {
      color: #07c3cd;
      text-decoration: underline; }
  .palette-list canvas {
    margin-top: 0;
    margin-bottom: 0 !important; }

/*# sourceMappingURL=index.css.map */
